div.movie-tools
  | <a class="favorite" href="/api/movies/search/id/<%= movie.id %>">
  |   <i class="favorite-icon"></i>
  | </a>
  | <a class="lookup", href="/api/movies/search/id/<%= movie.id %>">
  |   <i class="lookup-icon"></i>
  | </a>


