header
  i.fa.fa-film.logo
  h1.brand
    span.brand-text MovieMan
  div.header-tools
    <% if (username) {%>
    span.user-greeting Hello <%= username %>
    a.logout-link(href="/logout") logout
    <% } else { %>
    span please sign in
    <% } %>

