p.text-muted
  span Found <%= results.length %> for:
  em&nbsp;<%= searchTerm %>
hr
ul.movie-list
  <% _.each(results, function(movie) {%>
  li.movie-item
    div.movie-thumbnail
      | <img width="55" src="<%= movie.attributes.posters.thumbnail%>" />
    div.movie-details
      div.movie-title
        span <%= movie.attributes.title %>
      div.movie-year
        label Released:&nbsp;
        em <%= movie.attributes.year %>
      div.movie-rating
        label User Rating:&nbsp;
        span <%= movie.attributes.ratings.audience_score %>%

  <% }); %>
