form.input-group
  input.form-control.search-input(
    type="text",
    placeholder="Search Movies to add to your collection"
  )
  input(type="submit", hidden="true")
  div.input-group-btn
    button(type="button").btn.btn-primary
      i.fa.fa-search

