#user-movies.panel.panel-default
  div.panel-heading
    h3.heading My Favorites
  div.panel-body
    ul.movie-list
      <% _.each(movies, function(movie) {%>
      li.movie-item
        include movie/preview.jade
      <% }) %>

