html {
  margin: 0;
  min-height: 100%;
  padding: 0;
  position: relative;
}

body {
  padding: 0;
  height: 100%;
  margin-bottom: 100px;
}

a {
  color: #00B7FF;

  &:hover {
    color: @gray-lighter
  }
}

header {
  color: #fff;
  background-color: @gray;
  height: 75px;
  font-weight: bold;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 50001;

  .header-tools {
    .pull-right();

    font-size: 1.1em;
    height: 100px;
    line-height: 50px;
    margin-right: 25px;
    padding: 10px;
    width: auto;

    & > :not(:last-child)::after {
      color: @gray-lighter;
      content: "|";
      padding: 5px;
    }
  }

  .logo {
    float: left;
    // font-size: 3em;
    margin: 20px;
  }

  .brand {
    float: left;
    max-width: 300px;
    width: 20%;
  }
}

footer {
  background-color: @gray-lighter;
  bottom: 0;
  color: @gray;
  height: 100px;
  position: absolute;
  width: 100%;
}

#content {
  height: auto;
  margin-top: 100px;
  min-height: 400px;
}
