.movie-list {
  padding: 0;
  position: relative;
  margin: 0;
  list-style-type: none;

  .movie-item {
    &:extend(.well all);
    height: 125px;
    padding-left: 20px;
    position: relative;
  }

  .movie-thumbnail {
    float: left;
    height: 75px;
    margin-top: 5px;
    width: 65px;
  }

  .movie-details {
    float: left;
    margin-left: 5%;
    width: 70%;
  }

  .movie-subdetails {
    margin-left: 5px;
  }

  .movie-title {
    font-size: 1.3em;
    font-weight: bold;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .movie-year, .movie-rating {
    .text-muted();
  }

  .movie-rating {
    .rating-text {
      color: @brand-warning;
    }
  }

  .movie-tools {
    position: absolute;
    right: 10px;
    top: 10px;

    a {
      display: inline-block;
      font-size: 1.5em;
      width: 30px;
    }

    .lookup {
      .lookup-icon {
        &:extend(.fa, .fa-search all);
      }
    }

    .favorite-icon {
      &:extend(.fa, .fa-heart-o all);

      &:hover {
        &:extend(.fa-heart all);
        color: @brand-danger;
      }
    }
  }
}

#user-movies {
  margin: 50px auto;
  min-width: 150px;
  width: 60%;

  .panel-heading {
    @background-color: @brand-danger;
    background-color: @background-color;
    color: white;
    text-shadow: 2px 2px @gray-darker;
  }

  .heading {
    text-align: center;

    .heading-icon {
      &:extend(.fa, .fa-heart-o all);
    }

    .heading-text {
      margin-left: 10px;
    }
  }

  .movie-list {
    text-align: center;
  }

  .movie-item {
    display: inline-block;
    margin: 10px;
    min-width: 100px;
    text-align: left;
    width: 40%;
  }

  .movie-details {
    width: 65%;
  }


  @media screen and (max-width: 450px) {
    .movie-item {
      padding: 20px 5px;
    }
  }

  @media screen and (max-width: 600px) {
    .heading-text {
      display: none;
    }
  }

  //responsive
  @media screen and (max-width: 1250px) {

    .movie-item {
      width: 20%;
    }

    .movie-thumbnail {
      float: none;
      margin: 0 auto;
      text-align: center;
    }
    .movie-details {
      padding: 5px;
      margin: 0;
      text-align: center;
      width: 100%;
    }
    .movie-title {
      font-size: 1em;
      margin: 0 auto;
      width: auto;
    }
    .movie-subdetails {
      display: none !important;
    }
  }
}



