#search-results {
  margin: 0 auto;
  width: 600px
}

#search-loader {
  margin-top: 200px;
  font-size: 2em;

  .loading-icon {
    float: left;
    width: 50px;
  }
}

.movie-list {
  padding: 0;
  position: relative;
  margin: 0;
  list-style-type: none;

  .movie-item {
    height: 125px;
  }

  .movie-thumbnail {
    float: left;
    height: 110px;
    width: 75px
  }

  .movie-details {
    margin-left: 20px;
  }

  .movie-title {
    font-size: 1.3em;
    font-weight: bold;
  }

  .movie-year, .movie-rating {
    .text-muted();
  }

  .movie-rating {
    .rating-text {
      color: @brand-warning;
    }
  }
}
