@media screen and (max-width: 675px) {

  //remove menu items in header tools
  .header-tools {
    .user-greeting,
    .home-link,
    .settings-link {
      display: none !important;
    }
  }

  #user-movies {
    .heading-text {
      display: none !important;
    }
  }

  #search-results {

    .search-text {
      .search-term {
        display: block;
      }
    }
  }

  #login {
    .panel-heading {
      h4 {
        font-size: 1em;
      }
    }
  }
}

@media screen and (max-width: 800px) {
  body {
    margin-bottom: 280px !important; //adjust for footer
  }

  footer {
    height: 260px !important;
    .link-list {
      -webkit-column-count: 1;
      -moz-column-count: 1;
      column-count: 1;
      -webkit-column-gap: .5em;
      -moz-column-gap: .5em;
      column-gap: .5em;
    }
  }

  #search-loader {
    font-size: 1.2em !important;
  }

}

@media screen and (max-width: 1200px) {


  #search-results {

    .movie-item {
      display: inline-block !important;
      height: 135px !important;
      margin: 10px !important;
      min-width: 125px;
      width: 25% !important;
    }

    .movie-tools {
      margin: -20px 10px 5px 0px !important;
      position: relative !important;
      right: 0 !important;
      text-align: center;
      top: 0 !important;
    }
  }

  #user-movies {
    .movie-item {
      padding: 20px 5px !important;
      width: 20% !important;
    }
  }

  .movie-thumbnail {
    float: none !important;
    margin: 0 auto !important;
  }

  .movie-details {
    padding: 0px !important;
    margin: 0 !important;
    text-align: center !important;
    width: 100% !important;
  }

  .movie-title {
    font-size: 1em !important;
    margin: 0 auto !important;
    width: auto !important;
  }

  .movie-subdetails {
    display: none !important;
  }
}


