footer
  ul.link-list
    li.link-list-item.heading
      span Contact Info
    li.link-list-item
      i.fa.fa-male
      a(href="http://scottskow.info", target="_blank") Scott Skow
    li.link-list-item
      i.fa.fa-envelope
      a(href="mailto:scott.skow@gmail.com") scott.skow@gmail.com
    li.link-list-item
      i.fa.fa-map-marker
      a(href="https://www.google.com/maps/place/1265+Downing+St,+Denver,+CO+80218/@39.7356501,-104.9680915,15z/data=!4m2!3m1!1s0x876c7ecd8d147ed7:0x2da376f8b6f54155", target="_blank") Denver, CO
    li.link-list-item.heading
      span Links
    li.link-list-item
      i.fa.fa-link
      a(href="http://scottskow.info/about", target="_blank") about
    li.link-list-item
      i.fa.fa-question
      a(href="/help") help
    li.link-list-item
      i.fa.fa-cogs
      a(href="/admin") admin
    li.link-list-item.heading
      span Code
    li.link-list-item
      i.fa.fa-github
      a(href="https://github.com/sctskw/movieman/", target="_blank") github
    li.link-list-item
      i.fa.fa-database
      a(href="http://www.rottentomatoes.com/", target="_blank") rottentomatoes.com
      span &nbsp;provided this data


