header
  h1.brand
    span.brand-text MovieMan
  div.header-tools
    if username
      span.user-greeting Hello #{username}
      a.home-link(href="/") my favorites
      a.settings-link(href="/settings") settings
      a.logout-link(href="/logout")
        i.fa.fa-lock
        span &nbsp;logout

