#login-welcome.greeting
  h3.heading Tired of forgetting your Favorite Movies?
  p
    | MovieMan is here to help! Keeping track of your Favorite Movies has
    | never been easier. Sign In now to start. Your Friends will Thank You!
