#welcome
  i.fa.fa-bullhorn
  h2.heading Welcome to MovieMan!
  p
    | Managing your favorite movies has never been easier. Use the search
    | above to start adding movies to your collection. Happy Favoriting!

