doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/app.css')
  body
    #content
      block content

    script(src="/app.js")
    script.
      (function() {
        App.start({
            viewEl: '#content',
            user: !{ user }
        });
      })();

