doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/app.css')
    script(src="/app.js")
  body
    #content
      block content

    include templates.jade
    script.
      (function() {
        App.start({
            viewEl: '#content',
            user: {
              name: "#{user}"
            }
        });
      })();

