script(type="text/template", id="tpl-header")
  include templates/header.jade

script(type="text/template", id="tpl-footer")
  include templates/footer.jade

script(type="text/template", id="tpl-login-form")
  include templates/login-form.jade

script(type="text/template", id="tpl-welcome-banner")
  h2 Welcome! Check out your movies!
